<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.NewGameActivity"
            android:exported="false"
            android:label="@string/title_activity_game_screen_new"
            android:theme="@style/Theme.Flippy" />
    </application>

</manifest>